.language-item {
  margin: 10px;
}

.btn {
  border-style: none;
  background-color: transparent;
  font-family: 'Bree Serif';
  font-size: 15px;
  margin-top: 3px;
}

.active-btn-class {
  border: solid 2px #0284c7;
  border-radius: 15px;
  padding-right: 15px;
  padding-left: 15px;
  color: #0284c7;
  padding-bottom: 3px;
}
